PORT=3000
HOST=0.0.0.0
FRONTEND_URL=http://localhost:3001
USER_ID=yourname_ddmmyyyy
EMAIL_ID=yourmail@college.edu
COLLEGE_ROLL_NUMBER=YOUR_ROLL_NUMBER
HOSTED_FRONTEND_URL=https://your-vercel-app.vercel.app
HOSTED_API_URL=https://your-render-backend.onrender.com
GITHUB_REPO_URL=https://github.com/your-username/your-repo
